
<br/>
<label>Cod incadrare</label>
<input type="text" name="nc8Code" value="<%=invoiceEntry.nc8Code%>" />
<br/>
<label>Valoare</label>
<input type="number" name="invoiceValue" value="<%=invoiceEntry.invoiceValue%>"/>
<br/>
<label>Valoare statistica</label>
<input type="text" name="statisticalValue" value="<%=invoiceEntry.statisticalValue%>" />
<br/>
<label>Masa neta</label>
<input type="number" name="netMass" value="<%=invoiceEntry.netMass%>" />
<br/>