<header>
    <nav>
        <a href="/">My InfraStat</a>
        <ul>
            <li><a href="/invoiceEntries">Invoice Entry</a></li>
            <li><a href="/invoiceEntries/new">Add Invoice Entry</a></li>
        </ul>
    </nav>
</header>