<header>
    <nav>
        <a href="/">My InfraStat</a>
        <ul>
            <li><a href="/invoices">Facturi</a></li>
            <li><a href="/invoices/new">Adauga Factura</a></li>
            <li><a href="/invoiceEntries">Articole Factura</a></li>
        </ul>
    </nav>
</header>